.companies {
    margin: 200px auto;
    max-width: 1200px;
    text-align: center;
}

.companies h2 {
    color: red;
    font-size: 50px;
    margin-bottom: 50px;
}

body .underline {
    display: inline-block;
    border-bottom: 1px solid #19b5fe;
    width: 38rem;
    margin-bottom: 3rem;
}

.companies-hor {
    display: flex;
    margin: 70px 0;
}

.companies-hor-item {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.companies-hor-item img {
    max-width: 100%;
    max-height: 100%;
}