* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.modal {}

.modal.open .modal__inner,
.modal.open .modal__window {
    opacity: 1;
    z-index: 1000;
}

.modal.hide .modal__inner,
.modal.hide .modal__window {
    opacity: 1;
    z-index: 100;
}

.modal.open .modal__window {
    transform: translateY(200px);
}

.modal.open .modal__inner {
    background: rgba(0, 0, 0, .5);
}

.modal.hide .modal__window {
    transform: translateY(-200px);
}

.modal.hide .modal__inner {
    background: rgba(0, 0, 0, .5);
}

.modal__inner,
.modal__window {
    opacity: 0;
    z-index: -1;
}

.modal__inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition: background .2s ease-in;
}

.modal__window {
    position: relative;
    width: 600px;
    border-radius: 5px;
    background: #fff;
    margin: 0 auto;
    transform: translateY(-200px);
    transition: transform .2s ease-in;
}

.modal__header {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.modal__title {
    font-size: 2rem;
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    border: none;
}

.modal__body {
    font-size: 2rem;
    padding: 10px;
}

.modal__footer {
    font-size: 2rem;
    padding: 5px 10px;
}

.btns {
    display: flex;
    justify-content: end;
}

.btns button {
    padding: 15px 20px;
    display: block;
    margin: 8px;
    font-size: 1.5rem;
    min-width: 80px;
    min-height: 50px;
    background: rgb(57, 57, 228);
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background .2s ease-out;
}

.btns button:hover {
    background: rgb(88, 88, 233);
}

.btns button:last-child {
    margin-right: 0;
}